// =============================================================================
// _colors.scss : Colors for Project
// MIT License
// =============================================================================

// =============================================================================
// _colors.scss settings
// =============================================================================

//Palette white
$white-primary:#ffffffc0;
$white-secondary:#d0cec842;

//Palette dark
$black-primary:#0E0D07;
$black-secondary:rgba(34, 30, 32, .7);
